body{background-color: bisque;}
body{font-size: large;}
body{color: slategray;}
body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.section1{color: black;}
.section2{color: olive}
.section3{color: rgb(123, 26, 26)}